{
  "presets": [
    [
      "env",
      {
        "targets": {
          "node": "current"
        }
      }
    ],
    "stage-0"
  ],
  "plugins": [
    "ramda",
    "transform-flow-strip-types"
  ],
  "sourceMaps": false
}
